.root {
    top: 0;
    position: sticky;
    background-color: #ff0000;
    color: white;
    height: 64px;
}

.header {
    background-color: #A41034;
}

.menuSeparator {
    background-color: #ffffff;
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem* var(--tw-space-x-reverse));
    margin-left: calc(2rem* calc(1 - var(--tw-space-x-reverse)));
    width: 1px;
    height: 2rem;
}